<div class="text-center" style="border: 2px solid black;">
  <div class="row">
    <div class="col-xs-12">
      <span>Inventory</span>
    </div>
  </div>
  <hr/>
  <div style="max-height: 300px; overflow-x: hidden; overflow-y: auto;">
    <div ng-repeat="slot in user.inventory">
      <div class="row">
        <div class="col-xs-4">
          <div>{{slot.item.name}}</div>
        </div>
        <div class="col-xs-4">
          <div>Quantity</div>
          <div>{{slot.quantity}}</div>
        </div>
        <div class="col-xs-4">
          <button ng-click="showAuctionDialog(slot.item)" class="btn btn-primary btn-sm">Auction</button>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</div>
