<div ng-controller="homeController">
  <div class="container">
    <div class="text-center">
      <input type="text" ng-model="user" />
      <button ng-click="login()">login</button>
    </div>
  </div>
</div>
