<div class="text-center" style="border: 2px solid black;">
  <div class="row">
    <div class="col-xs-12">
      <span>Player Stats</span>
      <button class="btn btn-primary btn-sm pull-right" ng-click="logout()">Logout</button>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-12">
      <span class="pull-left">Name: {{user.username}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <span class="pull-left">Coins: {{user.coins}}</span>
    </div>
  </div>
  <br />
</div>