<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <!-- player stats -->
        <player-stats-widget></player-stats-widget>
      </div>
      <div class="col-xs-4">
        <!-- inventory -->
        <inventory-widget></inventory-widget>
      </div>
      <div class="col-xs-4">
        <!-- current auction -->
        <current-auction-widget></current-auction-widget>
      </div>
    </div>
  </div>

  <div id="errorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2 class="text-danger text-center">{{errorMessage}}</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="startAuctionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-6">
              <label for="quantity">Quantity:</label><br>
              <input type="text" id="quantity" class="form-control" ng-model="startAuctionData.quantity" />
            </div>
            <div class="col-xs-6">
              <label for="minimumBid">Minimum Bid:</label><br>
              <input type="text" id="minimumBid" class="form-control" ng-model="startAuctionData.minimumBid" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="startAuction()">Auction</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>