<div class="text-center" style="border: 2px solid black;">
  <div class="row">
    <div class="col-xs-12">
      <span>Current Auction</span>
    </div>
  </div>
  <hr/>
  <div ng-if="auctionData">
    <div class="row">
      <div class="col-xs-12">
        <span>Seller:
          <b>{{auctionData.user.username}}</b>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div>{{auctionData.item.name}}</div>
      </div>
      <div class="col-xs-6">
        <div>Quantity</div>
        <div>{{auctionData.quantity}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span>Time left:
          <b>{{auctionData.timeLeft}}</b>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span>Winning bid:
          <b>{{auctionData.winningBid}}</b>
        </span>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-12">
        <div>
          <input type="number" ng-init="$parent.bidAmount=auctionData.winningBid" ng-model="$parent.bidAmount" />
        </div>
        <br/>
        <button class="btn btn-primary" ng-click="placeBid()">place bid</button>
      </div>
    </div>
    <br/>
  </div>
  <div ng-if="!auctionData">
    <div class="row">
      <div class="col-xs-12">
        <span>
          <b>No auction at the moment.</b>
        </span>
      </div>
    </div>
    <br/>
  </div>
</div>
